<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="ru" th:fragment="head">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>

        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
                th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
        <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.min.js"
                th:src="@{/webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.js}"></script>
        <script th:src="@{/webjars/jquery-ui/1.9.2/development-bundle/ui/minified/i18n/jquery.ui.datepicker-ru.min.js}"></script>

        <link href="../../static/css/style.css"
              th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
    </head>
    <body>

    </body>
</html>