<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head lang="ru">
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    </head>
    <body>
        <div class="container">
            <div th:fragment="header">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#" th:href="@{/}">Главная</a>
                            <ul class="nav navbar-nav">
                                <li><a th:href="@{/login}" sec:authorize="not isAuthenticated()">Log in</a></li>
                                <li><a th:href="@{/projects}" sec:authorize="isAuthenticated()">Проекты</a></li>
                                <li><a href="#" th:href="@{/users}" sec:authorize="hasAuthority('ADMIN')">Пользователи</a></li>
                                <li><a href="#" th:href="@{/project/new}" sec:authorize="hasAuthority('ADMIN')">Создать проект</a></li>
                                <li><a href="#" th:href="@{/user/new}" sec:authorize="hasAuthority('ADMIN')">Создать пользователя</a></li>
                            </ul>

                        </div>
                    </div>
                </nav>
                <div class="welcome" sec:authorize="isAuthenticated()">
                    <span>Welcome <span sec:authentication="name"></span></span>
                    <form th:action="@{/logout}" method="post">
                        <span sec:authorize="isAuthenticated()">
                            <input type="submit" value="Sign Out" />
                       </span>
                    </form>
                </div>
                <div class="jumbotron">
                    <div class="row text-center">
                        <div class="">
                            <h2>Панель управления</h2>

                            <h3>Управление пользователями</h3>
                        </div>
                    </div>
                    <div class="row text-center">
                        <img src="../../static/images/user_header.gif"
                             th:src="@{/images/user_header.gif}"/>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>